$fonte: 1.2rem;
$font-family: 10px;
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --hue-color: 224;
    --first-color: hsl(240, 83%, 32%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --z-back: -10;
    --z-fixed: 100;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
}
header{
    height: 70px;
    // border-bottom: 4mm ridge rgba(0, 89, 255, 0.6);
    border-bottom: 1px solid rgba(146, 161, 176, 0.15);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    p{
        margin-right: 600px;
        display: flex;
        align-items: center;
        font-size: $fonte;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    a{
        margin: 10px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: $fonte;
        font-weight: bold;
    }
}
.secao{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1000px;  
    .container1{
        padding: 10px;
        h1{
            font-size: 2.6rem;
            margin-top: 30px;
            
        }
        .nome{
            color: rgb(1, 60, 255);
        }
        .curso{
            color: rgb(1, 60, 255);
        }
        h2{
            font-size: 1.5rem;
            margin-top: 30px;
        }
        .social-media{
            display: flex;
            justify-content: left;
            align-items: center;
            height: 50px;
            margin-top: 30px;
            
            a{
                margin-left: 20px;
            }
            .icon1{
                margin: 2px;
            }
        }
    }
    // .container2{
        
    // }
}
.sobre{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.habi{
    border: solid;
    .habili_title{
        text-align: center;
    }
    .skills-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .softskils{
            border: solid;
            height: 200px;
            width: 50%;
        }
        .hardskils{
            border: solid;
            height: 200px;
            width: 50%;
        }
    }
}
// .projetos{
// }
.anime{
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
}
.anime-init{
    opacity: 1;
    transition: 3s all ease;
    transform: translate3d(0px, 0px, 0px);
}
.testando{
    display: flex;
    width: 500px;
    border: solid black;
    justify-content: space-around;
}
.img1{
    margin-top: 20px;
    border: solid black;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: transform3d(-50px, 0, 0);
}
.img1.active{
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: 2s;
    transition: transform3d(0,0,0);
}
.btnactive{
    background-color: blue;
}